#home-1 {
  height: 350px;
  width: 97%;
  /* border: 1px solid black; */
  margin: 10px auto;
}

.h1-prev {
  font-size: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.h1-next {
  font-size: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}